*{
  margin : 0;
}

.app_header{
  /* height:100px;
  width:100px; */
  object-fit:contain;
  background-color: white;
  padding : 20px;
  border-bottom: 1px solid lightgray;
}

.app{
  background-color: #fafafa;
}